<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Owners Index Page</title>
</head>
<body>

    <h2 th:text="'List of Owners Page'"></h2>

    <table id="owners" class="table table-striped">
        <tr>
            <th style="width: 150px;">Owner Id</th>
            <th style="width: 150px;">Owner First Name</th>
            <th style="width: 150px;">Onwer Last Name</th>
        </tr>
        <tr th:each="data: ${owners}">
            <td th:text="${data.id}"></td>
            <td th:text="${data.firstName}"></td>
            <td th:text="${data.lastName}"></td>
        </tr>


    </table>

</body>
</html>